body {
  background-color: gray;
  height: 200px;
}

div {
  background-color: inherit;
}

#column-left {

}

#column-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

#column-right{

}

#area1 {
  background-color: inherit;
  height: 100px;
  text-align: center;
}

#area2 {
  background-color: inherit;
  height: 100px;
  text-align: center;
}

#area3 {
  background-color: inherit;
  height: 200px;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 90px;
  font-family: fantasy;
  font-size: 50px;
  font-color: blue;
}

#area4 {
  background-color: orange;
  height: 100px;
}

#area5 {
  background-color: yellow;
  height: 100px;
}

#account-image {
  height:50px;
  width:50px;
}

#cart-image {
  height:50px;
  width:50px;
}

.btn btn-link {
  text-decoration-color: black;
}
