body {
  background-color: gray;
  height: 200px;
}

div {
  background-color: inherit;
}

#column-left {

}

#column-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

#column-right{

}

#area1 {
  background-color: red;
  height: 100px;
}

#area2 {
  background-color: blue;
  height: 100px;
}

#area3 {
  background-color: green;
  height: 200px;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 90px;
}

#area4 {
  background-color: orange;
  height: 100px;
}

#area5 {
  background-color: yellow;
  height: 100px;
}
